:root {
  --charcoal: #454647;
  --light-grey: #d1d4d9;
  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  
  margin-block-start: 0;
  margin-block-end: 0;

}

.logo-name {
  color: var(--charcoal);
  font-size: 1.6rem;
  font-family: var(--ff-title);
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

nav {
  padding: 10px 10px;
  border-bottom-color: var(--med-aqua);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-direction: row;
  background-color: white;
}

.right-nav {
  display: flex;
  align-items: center;
}

.right-nav li {
  display: inline-block;
  margin-right: 16px;
  padding: 0px 10px;
  height: 100%;
}

.right-nav a {
  font-size: 1.1rem;
  color: black;
  font-family: var(--ff-body);
  font-weight: lighter;
}

.right-nav a:hover {
  border-bottom: 2px solid var(--med-aqua);
}

.toggle {
  display: none;
  width: auto;
  height: 1.1rem;
}

@media all and (max-width: 900px) {
  
  .toggle {
    display: inline-block;
    float: right;
  }
  
  .right-nav {
    display: none;
    position: absolute;
    background-color: var(--med-aqua);
    border-style:none;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    right: 0;
    top: calc(25px + 1.6rem);
  }
  
  .right-nav.active {
    display: flex;
  }
  
  .right-nav li {
    display: block;
    margin: 0px;
    text-align: center;
    border-top-style: solid;
    border-color: white;
    border-width: 1px;
  }
  
  .right-nav li:hover {
    background-color: var(--light-aqua);
  }
  
  .right-nav a:hover {
    border-style: none;
  }
  
  .right-nav a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem 0px;
    color: white;
  }
  
  .left-nav {
    display: inline-block;
  }
}
