:root {
  --charcoal: #454647;
  --light-grey: #d1d4d9;
  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  
  --alert-red: #e35549;
  
  --ff-title: "Lobster Two", "serif";
  --ff-body: "Assistant", "sans-serif";
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.banner {
  width: 100%;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center; 
  margin-top: 5px;
  position: relative;
}

.banner h1 {
  font-size: 3rem;
  font-family: var(--ff-title);
  font-weight: bold;
}

.alerts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.closebtn {
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-family: var(--ff-body); 
  font-weight: bold;
}

.alert-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--alert-red);
  padding: 0px 10px;
  align-items: center;
  margin-bottom: 1px;
}

.alert-item p {
  color: white;
  font-size: 1rem;
  font-family: var(--ff-body); 
}

.gallery {
  width: 75vw;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  justify-content: center;
}

.post {
  position: relative;
}


.post-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.post-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
}


@keyframes fadeIn {
  0%,30% {
    opacity: 0;
  }
  70%, 100% {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeOut {
  0%,30% {
    visibility: visible;
    opacity: 1;
  }
  70%, 100% {
    opacity: 0;
  }
}

.post-overlay {
  animation-iteration-count: infinite;
  animation-duration: 6s;
  animation-direction: alternate;
}

.post:nth-child(2n) .post-overlay {
  visibility: hidden;
  animation-name: fadeIn;
  
}

.post:nth-child(2n+1) .post-overlay {
  visibility: visible;
  animation-name: fadeOut;
}



/*
.post:hover .post-overlay{
  display: flex;
}
*/

.post-msg {
  font-size: 1.1rem;
  font-family: var(--ff-body);
  font-weight: bold;
}

@media all and (max-width: 800px) {
  .post-img img {
    height: calc((100 - 4) / 3)vw;
  }
  
  .gallery {
    width: 100%;
    grid-gap: 2px;
  }
}
