:root {
  --charcoal: #454647;
  --light-grey: #d1d4d9;
  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  
  --ff-title: "Lobster Two", "serif";
  --ff-body: "Assistant", "sans-serif";
  --ff-banner: "Dancing Script", "serif";
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.banner {
  width: 100%;
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center; 
  margin-top: 5px;
}

.banner h1 {
  font-size: 4rem;
  font-family: var(--ff-banner);
  font-weight: bold;
}

.gallery {
  width: 75vw;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 28px;
  justify-content: center;
}

.post {
  position: relative;
}


.post-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  display: block;
}

.post-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: none;
  align-items: center;
  justify-content: center;
  color: white;
}

.post:hover .post-overlay{
  display: flex;
}

.post-msg {
  font-size: 1.1rem;
  font-family: var(--ff-body);
  font-weight: bold;
}

@media all and (max-width: 800px) {
  .banner h1 {
    font-size: 3rem;
    font-family: var(--ff-banner);
    font-weight: bold;
  }
  
  .post-img img {
    height: calc((100 - 4) / 3)vw;
  }
  
  .gallery {
    width: 100%;
    grid-gap: 2px;
  }
}
