:root {
  --charcoal: #454647;
  --light-grey: #d1d4d9;
  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

h1 a {
  text-decoration: none;
  color: var(--charcoal);
}

h2 {
  color: var(--charcoal);
}

.form-box {
  border-color: var(--light-grey); 
  border-style: solid;
  border-radius: 15px;
  border-width: thin;
}
