:root {
  --charcoal: #454647;

  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  --faded-teal: #86c4c1;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  --deep-aqua: #12c6c1;
  --dark-aqua: #015d67;
  
  --light-grey: #ebebeb;
  
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--light-grey);
}

.my-board-header h2 {
  font-size: 1.6rem;
  color: white;
  font-family: var(--ff-body);
  font-weight: bolder;
  text-align: center;
}

.my-board-header {
  background-color: var(--faded-teal);
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: white;
  padding-top: 3rem;
  padding-bottom: 200px;
}

.my-board-sect {
  width: 75vw;
  background-color: white;
  margin-top: -170px;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  border-radius: 10px;
  padding: 1rem 1rem;
}

.my-board-sect table {
  table-layout: auto; /** fixed **/
  width: 100%;
}

/*
.my-board-sect th:nth-child(1){
    width: 40%;
}
*/

.my-board-sect th {
  font-size: 1.1rem;
  color: black;
  font-family: var(--ff-body);
  font-weight: 600;
  text-align: left;
}

@media all and (max-width: 700px) {
  table, thead, tbody, th, td, tr { 
    display: block; 
  }
	
  /* Hide table headers, keeping in mind of accessibility */
  thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
	
  td { 
    position: relative;
    padding-left: 50%; 
    word-wrap: break-word;
  }
  
  tbody tr {
    padding-bottom: 1rem;
  }
	
  td::before { 
    content: attr(data-label);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 45%; 
    padding-right: 10px; 
    word-wrap: break-word;
  }
	
}
