:root {
  --charcoal: #454647;

  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  --faded-teal: #86c4c1;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  --deep-aqua: #12c6c1;
  --dark-aqua: #015d67;
  
  --light-grey: #ebebeb;
  
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-grey);
}

.my-board-header h2 {
  font-size: 1.6rem;
  color: white;
  font-family: var(--ff-body);
  font-weight: bolder;
  text-align: center;
}

.my-board-header {
  background-color: var(--faded-teal);
  border-top-style: solid;
  border-top-width: 5px;
  border-top-color: white;
  padding-top: 3rem;
  padding-bottom: 200px;
}

.my-board-sect {
  width: 75vw;
  background-color: white;
  margin-top: -170px;
  margin-left: auto;
  margin-right: auto;
  min-height: 300px;
  border-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 2rem;
  padding-left: 3rem; /* 3rem because 2rem for padding-left and 1rem for left border */
  padding-right: 2rem;
}

.info-sect {
  width: 75vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  text-align: center;
}

table {
  table-layout: auto; /** fixed **/
  width: 100%;
  border-collapse: separate;
  border-spacing: 0px 1rem;
}

thead th:first-child {
  padding-left: 10px;
}

tbody td:first-child {
  box-shadow: -1rem 0px 0 0px var(--dark-aqua); /* left border */
}

tr, td {
  word-break: break-all;
}

td:last-child {
  border-right-style: solid;
  border-right-color: var(--light-grey);
  border-right-width: 2px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  word-break: break-word;
}

td {
  padding: 0.5rem 10px;
  font-size: 1.1rem;
  color: black;
  font-family: var(--ff-body);
  border-top-style: solid;
  border-top-color: var(--light-grey);
  border-top-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: var(--light-grey);
  border-bottom-width: 2px;
}

th {
  font-size: 1.1rem;
  color: black;
  font-family: var(--ff-body);
  font-weight: 600;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

td a {
  text-decoration: none;
  color: var(--med-teal);
  font-weight: 600;
}

td a:hover {
  color: var(--dark-teal);
}


.create a {
  text-decoration: none;
  font-size: 1.1rem;
  color: grey;
  font-family: var(--ff-body);
  font-weight: 600;
}

.create a:hover {
  color: var(--charcoal);
}

.info-sect p {
  font-size: 1rem;
  color: grey;
  font-family: var(--ff-body);
  font-weight: 100;
}

@media all and (max-width: 700px) {
	
  /* Hide table headers, keeping in mind of accessibility */
  thead { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  td {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  td::before {
    content: attr(data-label);
    word-wrap: break-word;
    font-size: 1.1rem;
    color: black;
    font-family: var(--ff-body);
    font-weight: 600;
  }
  
  tbody tr {
    display: block;
    padding-bottom: 1rem;
  }
  
  td {
    box-shadow: -1rem 0px 0 0px var(--dark-aqua); /* left border */
    border-bottom-style: none;
    border-top-style: none;
    border-right-style: solid;
    border-right-color: var(--light-grey);
    border-right-width: 2px;
  }
  
  tbody td:first-child {
    border-top-style: solid;
    border-top-color: var(--light-grey);
    border-top-width: 2px;
    border-top-right-radius: 10px;
  }
  
  td:last-child {
    border-bottom-style: solid;
    border-bottom-color: var(--light-grey);
    border-bottom-width: 2px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 0px;
  }
  
  td a {
    display: inline;
  }
  
  table {
    border-spacing: 0px;
  }
	
  .my-board-sect {
    padding-top: 2rem;
  }
}
