:root {
  --charcoal: #454647;
  --light-charcoal: #5b5c5e;
  --light-grey: #d1d4d9;
  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  box-sizing: border-box;
}

body {
  background: var(--light-grey); 
}

.msg-sect {
  width: 75vw;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  margin-top: 2rem;
  padding: 2rem;
}

.msg-sect h2 {
  font-size: 1.1rem;
  font-family: var(--ff-body);
  font-weight: bold;
  display: block;
  margin-bottom: 0.75rem;
}

textarea {
  resize: none;
  border-color: var(--light-grey); 
  border-style: solid;
  border-radius: 5px;
  border-width: thin;
  padding: 5px;
  font-size: 1rem;
  font-family: var(--ff-body);
  color: var(--charcoal);
  width: 100%;
  height: 150px;
}

.light-font {
  font-size: 1rem;
  font-family: var(--ff-body);
  color: #46a7ab;
  text-align: right;
}

.msg-div {
  margin-bottom: 1rem;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.hidden {
  display: none;
}

.previewer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: dashed;
  border-color: var(--light-grey);
  border-width: 3px;
  padding: 1rem 0px;
  border-radius: 5px;
}

.input-btn {
  background-color: var(--light-charcoal);
  color: white;
  font-size: 1rem;
  font-family: var(--ff-body);
  border-radius: 15px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: inline-block;
  float: center;
  margin-top: 1rem;
}

.input-btn:hover {
  background-color: var(--charcoal);
}

.fa-image {
  color: var(--light-charcoal);
  font-size: 5rem;
}

input[type="submit"] {
  color: white;
  background-color: var(--med-aqua);
  border-style: None;
  font-size: 1.1rem;
  font-family: var(--ff-body);
  border-radius: 15px;
  width: 100%;
  padding: 10px 0px;
  margin-top: 2rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: var(--light-aqua);
}

.img-preview {
	width: min(300px, 75%);
	aspect-ratio: 1 / 1;
	object-fit: cover;
	border-radius: 5px;
}

@media all and (max-width: 900px) {

}