:root {
  --charcoal: #454647;

  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  --faded-teal: #86c4c1;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  --deep-aqua: #12c6c1;
  --dark-aqua: #015d67;
  
  --light-grey: #ebebeb;
  
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
}

.customize-sect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - (32px + 1.6rem));
}

.board-settings-sect form {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--charcoal);
  padding: 1rem;
  justify-content: space-between;
}

.board-settings-sect label {
  display: block;
  font-size: 1rem;
  font-family: var(--ff-body);
  margin-bottom: 0.5rem;
  color: white;
}

input[type="text"],
input[type="color"] {
  
  margin-bottom: 1rem;
}

input[type="text"] {
  font-size:1rem;
  font-family: var(--ff-body);
  border-radius: 5px;
  border-color: var(--light-grey);
  border-width: thin;
  border-style: solid;
  width: 100%;
  padding: 5px;
}

input[type="color"] {
  height: 2rem;
}

.board-view {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
/*  overflow-x: hidden;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: var(--light-grey);
}

.board-settings-sect label,
.board-settings-sect input
{
  display: block;
}

.submit_btn {
  font-size: 1rem;
  font-family: var(--ff-body);
  border-radius: 10px;
  border-style: none;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem 0px;
  background-color: var(--med-aqua);
  color: white;
  font-weight: 700;
}

.submit_btn:hover {
  background-color: var(--light-aqua);
}

.banner {
  width: min(75%, 65vw);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.banner h1 {
  font-size: 2rem;
}

.gallery {
  width: min(75%, 65vw);
  padding: 2rem 10px;
}

@media all and (max-width: 700px) {
	
}
