:root {
  --charcoal: #454647;

  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  --faded-teal: #86c4c1;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  --deep-aqua: #12c6c1;
  --dark-aqua: #015d67;
  
  --light-grey: #ebebeb;
  
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
}

.customize-sect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - (32px + 1.6rem));
}

.board-settings-sect {
  height: 100%;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  background-color: var(--charcoal);
  padding: 1rem;
}

.board-view {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: green;
}

.board-settings-sect label,
.board-settings-sect input
{
  display: block;
}



@media all and (max-width: 700px) {
	
}
