:root {
  --light-charcoal: #5a5b5c;
  --charcoal: #454647;
  --med-charcoal: #313233;
  --dark-charcoal: #222324;

  --med-teal: #40aa9c;
  --light-teal: #53cfbe;
  --dark-teal: #338f82;
  --faded-teal: #86c4c1;
  
  --light-aqua: #67d7db;
  --med-aqua: #5fc8cc;
  --deep-aqua: #12c6c1;
  --dark-aqua: #015d67;
  
  --light-grey: #ebebeb;
  
  
  --ff-title: "Lobster Two", serif;
  --ff-body: "Assistant", "sans-serif";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light-grey);
}

.customize-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--charcoal);
  padding: 5px 1rem;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: var(--dark-charcoal);
  align-items: center;
}

.customize-sect {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: calc(100vh - (53px + 1.6rem + 1rem));
}

.board-settings-sect {
  overflow-y: auto;
  width: 350px;
  background-color: var(--charcoal);
}

.board-settings-sect form {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: start;
}

.board-settings-sect label {
  display: block;
  font-size: 1rem;
  font-family: var(--ff-body);
  margin-bottom: 0.5rem;
  color: white;
}

.text-input,
.color-input{
  margin-bottom: 1rem;
}

.text-input {
  font-size:1rem;
  font-family: var(--ff-body);
  border-radius: 5px;
  color: var(--light-grey);
  background-color: var(--med-charcoal);
  border-style: none;
  width: 100%;
  padding: 5px;
}

.color-input {
  height: 2.5rem;
  min-height: 2.5rem;
  max-height: 2.5rem;
  background: transparent;
  border-style: none;
}

.board-view {
  height: 100%;
  width: 100%;
  overflow-y: auto;
/*  overflow-x: hidden;*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  background-color: var(--dark-charcoal);
}

.board-settings-sect label,
.color-input,
.text-input{
  display: block;
}

.submit-btn {
  font-size: 1rem;
  font-family: var(--ff-body);
  background-color: var(--med-teal);
  color: white;
  font-weight: 200;
}

.submit-btn:hover {
  background-color: var(--light-teal);
}

.banner {
  width: min(75%, 65vw);
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.banner h1 {
  font-size: 2rem;
}

.gallery {
  width: min(75%, 65vw);
  padding: 2rem 10px;
}

.post-img img {
  aspect-ratio: 1/1;
}

.hidden {
  display: none;
}

.customize-header a,
.submit-btn {
  border-radius: 10px;
  border-style: none;
  padding: 2px 10px;
}

.customize-header a {
  text-decoration: none;
  font-size: 1rem;
  font-family: var(--ff-body);
  color: white;
  font-weight: 400;
}

.customize-header a:hover {
  background-color: var(--med-charcoal);
  
}

@media all and (max-width: 800px) {
  .customize-sect {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    height: auto;
    position: relative; /* For abs position of .color-input and .text-input*/
  }
  
  .board-view {
    /*
      25px + 1.6rem is nav header
      16px + 1rem is customize header
      34px + 1rem is bottom part
    */
    height: calc(100vh - (91px + 4.6rem));
  }
  
  .banner {
    width: 100%;
    margin: 0px;
  }
  
  .board-settings-sect {
    height: auto;
    width: auto;
    overflow-x: scroll;
    display: block;
  }
  
  .board-settings-sect form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    padding: 0;
    margin: 0;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .color-input {
    height: 50px;
    min-height: 50px;
    max-height: 50px;
  }
  
  .text-input,
  .color-input{
    display: none;
    width: 100%;
    padding: 5px 10px;
    left: 0px;
    bottom: calc(1rem + 54px);
    position: absolute; /* relative to parent .customize-sect div */
    background-color: var(--light-charcoal); 
    border-bottom-style: solid;
    border-bottom-color: var(--dark-charcoal);
    border-bottom-width: 2px;
    margin: 0px;
    z-index: 100;
  }
  
  .board-settings-sect label {
    border-style: solid;
    border-color: var(--med-charcoal);
    border-radius: 5px;
    border-width: 2px;
    text-align: center;
    margin: 0px;
    padding: 5px 5px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
  }
  
  .board-settings-sect label:hover {
    background-color: var(--med-charcoal);
  }
  
  .active {
    display: block;
  }
  
  .selected-label  {
    background-color: var(--med-charcoal);
  }
  
}
